.index__main {
  background-color: #fff;
}
.container__lime {
  background-color: rgba($color: #bfff00, $alpha: 0.8);
  .header {
    h2 {
      color: #47525d;
    }
  }
}
.container__gray {
  background-color: #47525d;
  .header {
    h2 {
      color: #fff;
    }
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 15px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
  h2 {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 0.3px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 34px;
    font-weight: 300;
    color: #17a2b8;
    max-width: 75%;
    margin: 0 auto;
  }
}

.description {
  p {
    font-size: 16px;
    line-height: 27px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    padding: 40px 15px;
  }

  .header {
    margin-bottom: 20px;
    h2 {
      font-size: 25px;
      line-height: 30px;
    }
    .subtitle {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .description {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
