.social_icons {
  &__panel {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__link {
    margin: 0 10px;
    padding: 10px;
    display: inline-block;
    svg {
      width: 30px;
      path {
        fill: #47525d;
      }
    }
  }
}
